<form class="gradient-custom" [formGroup]="registrationForm" (ngSubmit)="onRegister()">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
              <p class="text-white-50 mb-5">Please enter your information!</p>


              <div class="form-outline mb-4">
                <input type="email" class="form-control form-control-lg"
                       placeholder="Enter your email" formControlName="email" matInput/>
              </div>


              <div class="form-outline mb-4">
                <input
                  class="form-control form-control-lg"
                  type="password"
                  placeholder="Enter your password" formControlName="password" matInput/>
              </div>

              <div class="form-outline mb-4">
                <input
                  class="form-control form-control-lg"
                  type="password"
                  placeholder="Enter your password" formControlName="confirmPassword" matInput/>
              </div>

              <div *ngFor="let e of validationErrors">
                <p class="text-danger">{{ e }}</p>
              </div>
              <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
              <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>

            </div>

            <div>
              <p class="mb-0">Already Registered? <strong class="loginButton text-primary" (click)="goToLoginPage()">Log
                in</strong>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>
